<div  class="card">
    <div class="card-body">
      <form [formGroup]="angForm" >
  
        <div class="form-group">
          <label class="col-md-4">Book Name</label>
          <input type="text"  formControlName="name" class="form-control" />
        </div>
        <div *ngIf="angForm.controls['name'].errors != null && angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Book Name is required.
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4">Price </label>
          <input type="text"  formControlName="price" class="form-control" />
        </div>
        <div *ngIf="angForm.controls['price'].errors != null && angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['price'].errors.required">
            Price is required.
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4">Quantity </label>
          <input type="text"  formControlName="quantity" class="form-control" />
        </div>
        <div *ngIf="angForm.controls['quantity'].errors != null && angForm.controls['quantity'].invalid && (angForm.controls['quantity'].dirty || angForm.controls['quantity'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['quantity'].errors.required">
            Quantity is required.
          </div>
        </div>
  
        <div class="form-group">
          <button (click)="onsubmit(angForm.controls['name'].value, angForm.controls['price'].value, angForm.controls['quantity'].value)"
              [disabled]="angForm.pristine || angForm.invalid" 
              class="btn btn-primary">
              Add Book
           </button>
        </div>
      </form>
    </div>
  </div>